body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  background-color: #f5f7fa;
  color: #576784;
}

strong {
  font-weight: 600;
  color: #242a35;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  padding-left: 20px;
}

ul > li {
  margin-bottom: 10px;
  line-height: 1.5em;
  display: list-item;
  list-style-type: disc;
}

ol > li {
  margin-bottom: 10px;
  line-height: 1.5em;
  display: list-item;
  list-style-type: decimal;
}
h1.main-heading {
  font-size: 42px;
  line-height: 1.4em;
  font-weight: 400;
  text-align:center;
}

.main-content {
  padding: 15px;
  position: relative;
  display: flex;
  width:60%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  min-width: 400px;
}

p {
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 10px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1.4em;
  font-weight: 450;
  
}

h3:hover {
  text-decoration: underline;
  color: #171c8f;
  cursor: pointer;
}

h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 400;
}

h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 350;
}

.table-content {
    width:60%;
    text-align:center;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 10px;
    display: flex;
  }


.center {
  margin:auto;
  width:60%;
  text-align: center;
  padding: 15px;
}


  th {
    text-align:center;
    margin:0;
    vertical-align: top;

}

  tr,td {
    text-align:left;
    vertical-align: top;
    padding: 15px;
}

a {
  transition: color 250ms ease;
  color: #171c8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #171c8f;
  cursor: pointer;
}

a:active {
  color: black;
}


